<header class="navbar-mobile">
    <div class="logo"><a routerLink="/" >SinghSecurity</a></div>
    <div class="phone">
        <a href="tel:+1403-992-7629" class="phone-link"><span class="phone-number">403-992-7629</span></a>
    </div>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <div class="menu">
      <app-nav *ngFor="let nav of navs" [navclass]="nav.navclass" [name]="nav.name" [routerlink]="nav.routerlink"></app-nav>
    </div>
</header>
