.commercial {
    background-image: url('../../assetfiles//images/commercial.jpg');
    background-color: white;
    padding-top: 20em;
    background-size: 100% 27%;
    background-repeat: no-repeat;
}