.commercial {
    background-image: url('../../../assets/images/commercial.jpg');
    background-color: white;
    padding-top: 20em;
    background-size: 100% 24%;
    background-repeat: no-repeat;
}